//---------------------
// statistics generator
//---------------------
pac.statisticsGenerator.numInstances=10
pac.statisticsGenerator.domains=GridPathFinding
,Pancakes,VacuumRobot,DockyardRobot

//------------------
// Preprocess
//------------------
pac.preprocess.inputEpsilons=0,0.05,0.1,0.2,0.3
pac.preprocess.numInstances=10
pac.preprocess.trainRatio=0.9
pac.preprocess.domains=GridPathFinding,Pancakes,VacuumRobot,DockyardRobot
pac.preprocess.useResampleFilter=true
pac.preprocess.biasToUniformClass=0.7

//------------------
// Online
//------------------
pac.online.inputEpsilons=0.0,0.05,0.1,0.2,0.3
pac.online.inputDeltas=0.0,0.1,0.2,0.3,0.8
pac.online.domains=GridPathFinding
pac.online.pacConditions=ML-NN,ML-J48,RatioBased
,Pancakes,VacuumRobot,DockyardRobot
//-----------------------------------------
// ML PAC for hard domains
//-----------------------------------------
pac.prediction.inputEpsilons=0.0,0.05,0.1,0.2,0.3
pac.prediction.inputDeltas=0.0,0.1,0.2,0.3,0.8
pac.prediction.numInstances=10
pac.prediction.domainsAndExpValues=Pancakes:16:28:4,Pancakes:20:28:4,Pancakes:24:28:4


#pac.prediction.domainsAndExpValues=GridPathFinding:70:85:5,GridPathFinding:75:85:5,GridPathFinding:80:85:5

