//---------------------
// statistics generator
//---------------------
pac.statisticsGenerator.numInstances=100
pac.statisticsGenerator.domains=Pancakes



//------------------
// Preprocess
//------------------

pac.preprocess.inputEpsilons=0,0.05,0.1,0.2,0.3
pac.preprocess.numInstances=100
pac.preprocess.trainRatio=0.9
pac.preprocess.domains=Pancakes


//------------------
// Online
//------------------

pac.online.inputEpsilons=0.0,0.05,0.1,0.2,0.3
pac.online.inputDeltas=0.0,0.1,0.2,0.3,0.8
pac.online.domains=Pancakes
pac.online.pacConditions=ML-NN,ML-J48,RatioBased

